<div class="jumbotron">
    
	<form action="/subscribe" method="post"> 
						  
		  <h3> Subscribe for our page </h3> 
							
		  <input class="box" type="text" name="name" id="name" 
		  placeholder="Name"  required /><br> 
							
		  <input class="box" type="email" name="email" id="email" 
		  placeholder="E-Mail " required /><br> 
							
		  <input class="box" type="password" name="password" 
		  id="password" placeholder="Password " required/><br> 
							
		  <input class="box" type="text" name="phone" id="phone"  
		  placeholder="Phone Number " required/><br> 
					  <br> 
		  <input type="submit" id="submitDetails"  
		  name="submitDetails" value="Subscribe" /><br> 
					
		  </form>
	</div>